@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

@font-face {
    font-family: Meow;
    font-weight: 100;
    src: url("../fonts/MeowScript-Regular.ttf");
}