/**
 * Created by MadThreeD on 2022.
 */

* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", sans-serif;
}

body {
    margin: 8px 8px;
}

label {
    margin: 0 8px;
}

select {
    background: #e7e7e7;
    color: #0021c3;
    border-radius: 4px;
    padding: 0 8px;
    border: solid 1px;
    outline: none;
    width: inherit;
    text-align: center;
}

select::selection {
    color: #625f5f;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.a_button {
    background: #727171;
    color: #fdfdfd;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.a_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.apply_button {
    background: #727171;
    color: #fdfdfd;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    height: fit-content;
    cursor: pointer;

    min-width: 100px;
}

.apply_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.i_button {
    background: #727171;
    color: #fdfdfd;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    height: fit-content;
    cursor: pointer;
    min-width: 350px;
}

.i_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.nav_button {
    background: rgba(51, 63, 159);
    color: #fdfdfd;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    padding: 0 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    height: fit-content;
}

.nav_button:hover {
    /*transform: translateY(-3px);*/
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    background: rgba(51, 63, 159, 0.7);
}

.container {
    background: #ececec;
    display: grid;
    grid-template-columns: minmax(120px, 200px) auto minmax(120px, 200px);
    grid-template-rows: max-content min-content;
    height: 95vh;
    border-radius: 12px;
    padding: 6px 6px;
}

.nav {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    align-self: center;
}

.log-in-out {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    text-align: center;
}

.header {
    grid-row: 1;
    grid-column: 2;
}

.header.name {
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
    background: white;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
}

.footer {
    background: rgb(188, 188, 188);
    color: rgb(51, 63, 159);
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 50%;
    /*width: 90%;*/
    width: 100%;
    height: fit-content;
    /*border-radius: 5px;*/
    transform: translate(-50%, 0);
    font-size: 0.8em;
    font-weight: bold;
}

/*-------------------------------------------*/

.main-section {
    margin-top: 8px;
    grid-row: 2;
    grid-column: 2;
}

.main-section__title {
    padding-bottom: 4px;
    text-align: center;
}

.main-section__title.student-progress {
    grid-row: 1;
    grid-column: 1/span 2;
    padding-bottom: 0;
}

/*-------------------------------------------*/

.main-section.create-modify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section.students {
    display: block;
}

.main-section.disciplines {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-section.student-progress {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-section.terms {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*-------------------------------------------*/

.main-section__table_overflow {
    height: 60vh;
    overflow: auto;
}

.main-section__table {
    width: 100%;
    margin-bottom: 18px;

    border: 1px solid grey;
    border-collapse: collapse;
    text-align: left;
}

.main-section__table caption {
    font-weight: bold;
    text-align: left;
    padding: 6px
}

.main-section__table th {
    background: #727171;
    color: #fdfdfd;
    border: 1px solid #bbbbbb;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.main-section__table td {
    border: 1px solid #bbbbbb;
    font-size: smaller;
    vertical-align: bottom;
    padding: 2px 6px;
}

.main-section__table tr:nth-child(2n-1) {
    background: #d7d7d7;
    height: 1rem;
}

.main-section__table tr {
    height: 1rem;
}

.main-section__table.col_checkbox {
    vertical-align: middle;
    text-align: center;
    width: 10%;
}

.main-section__table.col_surname {
    vertical-align: middle;
    text-align: center;
    width: 40%;
    /*height: 3rem;*/
}

.main-section__table.col_name {
    vertical-align: middle;
    text-align: center;
    width: 30%;
}

.main-section__table.col_group {
    vertical-align: middle;
    text-align: center;
    width: 10%;
}

.main-section__table.col_date {
    vertical-align: middle;
    text-align: center;
}

.main-section__table.col_discipline {
    vertical-align: middle;
    text-align: center;
    width: 70%;
}

.main-section__table.col_mark {
    vertical-align: middle;
    text-align: center;
}

.main-section__table.students {
}

.main-section__table.terms {
    grid-row: 3;
    grid-column: 1;
}

.main-section__table.disciplines {
    grid-row: 2;
    grid-column: 1;
}

.main-section__table.student-progress-sngd {
    grid-row: 2;
    grid-column: 1/span 2;
}

.main-section__table.student-progress-disciplines {
    grid-row: 3;
    grid-column: 1;
}

/*-------------------------------------------*/

.main-section__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 14rem;
    margin: 8px 0;
}

.main-section__form.disciplineSelector {
    width: inherit;
}

.main-section__form.input {
    border: none;
    border-bottom: 1px solid rgb(190, 174, 174);
    background: #ececec;

    outline: none;

    width: 100%;
    font-weight: bolder;
    vertical-align: top;
    text-align: center;
}

.main-section__form.input:focus {
    color: #333f9f;
}

.main-section__form.input::selection {
    color: #ffaaaa;
}

.main-section__form.input:invalid {
    background: #fdd; /* Красный цвет фона */
}

.main-section__form.input:valid {
    background: #ececec;
}

/*-------------------------------------------*/

.main-section__menu.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-section__menu.terms {
    grid-row: 3;
    grid-column: 2;
    height: fit-content;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.main-section__menu.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section__menu.disciplines {
    grid-row: 2;
    grid-column: 2;
    height: fit-content;
    display: grid;
    justify-content: center;
}

/*-------------------------------------------*/

.main-section__student-progress-termlist {
    grid-row: 3;
    grid-column: 2;
    padding: 18px 9px;
    justify-self: left;
}

.main-section__terms-termslist {
    grid-row: 1;
    grid-column: 1/span 2;
}

.disabled {
    pointer-events: none;
    background: darkgrey
}

@media (max-width: 1080px) {
    .container {
        display: grid;
        font-size: x-small;
        grid-template-columns: 1fr 1fr;
    }

    .nav {
        grid-row: 1;
        grid-column: 1;
        margin-top: 0;
        text-align: center;
        font-size: larger;
    }

    .log-in-out {
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        font-size: larger;
    }

    .header {
        grid-row: 2;
        grid-column: 1/span 2;
        margin-top: 0.2em;
    }

    .main-section {
        grid-row: 3;
        grid-column: 1/span 2;
        margin: 0;
    }

    .main-section__table {
        margin-top: 0;
    }

    .main-section.terms{
        display: flex;
        flex-direction: column;
    }

    .main-section.students{
        display: flex;
        flex-direction: column;
    }

    .main-section.disciplines{
        display: flex;
        flex-direction: column;
    }

    .main-section.student-progress{
        display: flex;
        flex-direction: column;
    }

    .i_button {
        min-width: 220px;
    }
}